@media (max-width: 575px) {
  .background {
    img._2 {
        max-width: 44%;
    }
    .chu {
      .chu-nho {
        font-size: 1.1rem;
      }
      .chu-to {
        font-size: 2rem;
      }
      .chu-to2 {
        top: 40%;
        font-size: 2rem;
      }
    }
  }
}
